<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @spot.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @spot.body %>
</p>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', root_path %>
